{% extends "profile/layout/base.html" %}
{% block content %}

<br><br><br>

<section name="profile" style="margin-bottom:50px">
    <div class="container">
    	<h1>Profile</h2>
    </div>
    <div class="data"=>
      <h2 style="text-align:center">{{profile.Name}}</h2>
      <div  align="center"> <img alt="User Pic" src="https://vignette1.wikia.nocookie.net/starwars/images/c/cf/Luke_Skywalker_Exiled.png/revision/latest?cb=20160416224618" id="profile-image1" width="150" height="150" class="img-circle img-responsive">
    </div>
    <div class="biodata">
        <table align="center" width="500" cellspacing = "40" cellpadding="40" style="text-align: left">
          <br><br>
            <tr>
              <td class="subject">Birthday</td>
              <td class="value">{{profile.Birthday}}</td>
            </tr>
            <tr>
              <td class="subject">Gender</td>
              <td class="value">{{profile.Gender}}</td>
            </tr>
            <tr>
              <td class="subject">Expertise</td>
              <td class="value">
                <ul>
                {% for ii in profile.Expertise %}
                <button type="button" class="btn btn-inverse" data-dismiss="modal">{{ii}}</button>
                {% endfor %}
              </ul>
            </td>
          </tr>
          <tr>
            <td class="subject" >Description</td>
            <td class="value" >{{profile.Description}}</td>
          </tr>
          <tr>
            <td class="subject" >Email</td>
            <td class="value" >{{profile.Email}}</td>
          </tr>
        </table>
    </div>
</section>


<br><br>

{% endblock %}
