s<!-- Fixed navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
     </div>
     <div align="center">

       <ul class="nav navbar-nav navbar-right">
         <li><a href="/Post/">Status</a></li>
         <li><a href="/profile/">Profile</a></li>
         <li class="active"><a href="/Add-Friends/">Friends</a></li>
         <li><a href="/stats/">Stats</a></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </div>

 <div class="container-fluid big-logo-row">
   <div class="container">
     <div class="row">
       <div class="col-xs-12 big-logo-container">
         <h1 class="big-logo">LingIn</h1>
       </div><!--/.col-xs-12 -->
     </div><!--/.row -->
   </div><!--/.container -->
 </div><!--/.container-fluid -->
