{% extends "stats/layout/base.html" %}

{% block content %}

<style>

#left {
    align-items: left;
    width: 50%;
}

#right {
    align-items: right;
    width: 50%;
}

</style>

<div class="container" align="center">
	<div class="row">
		<h2></h2>


       <div class="col-md-7 "  id="left">

        <div class="panel panel-default">
          <div class="panel-heading" align="left">  <h4 >Stats</h4></div>
           <div class="panel-body">

            <div class="box box-info">

                    <div class="box-body">
                             <div class="col-sm-6">
                               <div  align="center"> <img alt="User Pic" src="https://vignette1.wikia.nocookie.net/starwars/images/c/cf/Luke_Skywalker_Exiled.png/revision/latest?cb=20160416224618" id="profile-image1" class="img-circle img-responsive">

                               </div>
                             </div>
                    <div class="col-sm-6">
                      <h4 style="color:#00b1b1;"> {{Name}} </h4></span>
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">


                    <div class="col-sm-5 col-xs-6 tital " >Friends:</div><div class="col-sm-7 col-xs-6 "> {{totalFriends}} Friends </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital " >Feed:</div><div class="col-sm-7"> {{totalPost}} Posts</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>



                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->

                </div>


            </div>
        </div>
      </div>

      <div class="col-md-7 "  id="right">

       <div class="panel panel-default">
         <div class="panel-heading" align="left">  <h4 >Recent Post</h4></div>
          <div class="panel-body">

           <div class="box box-info">

                   <div class="box-body">
                     <div>
                         <div class="to-do-list">
                             <div class="nama-orang" style="font-size:14px; color:#080808; font-weight:bold">
                                 <p >{{Name}}</p>
                             </div>
                             <div class="post-date" style="font-size:10px; color:#538b01; font-style:italic">
                                 <p>{{recentPost.created_date|date:"d M Y G:i:s"}}</p>
                             </div>
                             <div class="to-do-list-description">
                                 <p>{{recentPost.description}}</p>
                             </div>

                         </div>
                     </div>
                   </div>
           </div>
          </div>
        </div>
      </div>


   </div>

</div>


{% endblock %}
