
#submit{
  height:40px;
  width:200px;
}
.flex-item {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    box-sizing: border-box;
    width: 100%;
    float: left;
    border: 1px solid red;
}
}
.nama-orang {
  font-size:14px; 
  color:#538b01; 
  font-weight:bold; 
  font-style:italic;
}