{% extends "Post/layout/base.html" %}
{% block content %}
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'Post:post' %}">
            <h2>Update Status</h2>
            {% csrf_token %}
            {{ Message_Form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit" style="float: right;">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Status</h2>
        <div class="flex">
            {% if make_post %}
                {% for data in make_post %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="nama-orang" style="font-size:14px; color:#080808; font-weight:bold">
                                <p >{{name}}</p>
                            </div>
                            <div class="post-date" style="font-size:10px; color:#538b01; font-style:italic">
                                <p>{{data.created_date|date:"d M Y G:i:s"}}</p>
                            </div>
                            <div class="to-do-list-description">
                                <p>{{data.description}}</p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                 Tidak ada data Status.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
