{% extends "layout/base.html" %}
{% block content %}

 <div class="container">
<section>
	<h3>Add friends</h3>
	<br>
	<section name="form">
        <form id="form" method="POST" action="{% url 'Add-Friends:add_friend' %}">
            {% csrf_token %}
            {{ add_friend_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
<section>
<table class="table">
        <thead>
            <th>Nama</th>
            <th>Link</th>
            <th align-content="right" >Ditambahkan Pada</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for friends_data in my_friends %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{ friends_data.name }} </td>
                <td> {{ friends_data.link }} </td>
                <td align="right"> {{ friends_data.time }} </td>
            </tr>             
            {% endfor %}
        </tbody>
</table>
</section>
</div>
{% endblock %}
